<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lms.lms.attendance.dao.mapper.AttendanceMapper">
	<resultMap  id="attendanceMap" type="lms.lms.common.domain.Attendance">
		<result property="attendanceNo" column="attendance_no"/>	
		<result property="userNo" column="user_no"/>	
		<result property="checkInTime" column="checkin_time"/>	
		<result property="checkOutTime" column="checkout_time"/>
		<result property="checkInSMS" column="checkin_sms"/>
		<result property="checkOutSMS" column="checkout_sms"/>
	</resultMap>
	<select id="attendanceList" parameterType="lms.lms.common.domain.Attendance" resultMap="attendanceMap">
		SELECT attendance_no attendanceNo, user_no userNo, checkin_time checkInTime, checkout_time checkOutTime, checkin_sms checkInSMS, checkout_sms checkOutSMS 
		FROM attendance ORDER BY attendance_no
	</select>
	
	<insert id="checkInTime" parameterType="int">
<!-- 	오라클용 
		INSERT INTO attendance(attendance_no,user_no,checkin_time,checkin_sms)
		SELECT seq_attendance_no.nextval, user_no userNo, sysdate, 0
		FROM user_detail
		WHERE user_no = #{userNo} -->
		
		<!-- MySQL용 -->
		INSERT INTO attendance(user_no,checkin_time,checkin_sms)
		SELECT user_no userNo, now(), 0
		FROM user_detail
		WHERE user_no = #{userNo}
	</insert>
	
	<select id="checkInTime2" parameterType="int" resultMap="attendanceMap">
		SELECT user_no
		FROM attendance
		WHERE user_no = #{userNo} AND month(checkin_time) = month(sysdate()) AND dayofmonth(checkin_time) = dayofmonth(sysdate())
	</select>
	
	<update id="checkInSMS" parameterType="map">
			UPDATE attendance 
			SET checkin_sms = 1
			WHERE user_no = #{userNo} AND month(checkin_time) = month(sysdate()) AND dayofmonth(checkin_time) = dayofmonth(sysdate())
	
	</update>
	
	<select id="checkInSMS2" parameterType="map" resultMap="attendanceMap">
		SELECT *
		FROM attendance
		WHERE checkin_sms = 0 AND month(checkin_time) = month(sysdate()) AND dayofmonth(checkin_time) = dayofmonth(sysdate())
	</select>
	
	<insert id="checkOutTime" parameterType="int">
<!-- 	오라클용
		INSERT INTO attendance(attendance_no,user_no,checkout_time,checkout_sms)
		SELECT seq_attendance_no.nextval, user_no userNo, sysdate, 0
		FROM user_detail
		WHERE user_no = #{userNo} -->
		
		INSERT INTO attendance(user_no,checkout_time,checkout_sms)
		SELECT user_no userNo, now(), 0
		FROM user_detail
		WHERE user_no = #{userNo}
	</insert>
	
		<select id="checkOutTime2" parameterType="int" resultMap="attendanceMap">
		SELECT user_no
		FROM attendance
		WHERE user_no = #{userNo} AND month(checkout_time) = month(sysdate()) AND dayofmonth(checkout_time) = dayofmonth(sysdate())
	</select>
	
	
	<update id="checkOutSMS" parameterType="map">
		UPDATE attendance 
		SET checkout_sms = 1
		WHERE user_no = #{userNo} AND month(checkout_time) = month(sysdate()) AND dayofmonth(checkout_time) = dayofmonth(sysdate())
	
	</update>
	
	<select id="checkOutSMS2" parameterType="map" resultMap="attendanceMap">
		SELECT *
		FROM attendance
		WHERE checkout_sms = 0 AND month(checkout_time) = month(sysdate()) AND dayofmonth(checkout_time) = dayofmonth(sysdate())
	
	</select>
	
</mapper>