<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lms.lms.attendance.dao.mapper.AttendanceMapper">
	<resultMap  id="attendanceMap" type="lms.lms.common.domain.Attendance">
		<result property="attendanceNo" column="attendance_no"/>	
		<result property="userNo" column="user_no"/>	
		<result property="checkInTime" column="checkin_time"/>	
		<result property="checkOutTime" column="checkout_time"/>
	</resultMap>
	<select id="attendanceList" parameterType="lms.lms.common.domain.Attendance" resultMap="attendanceMap">
		SELECT attendance_no attendanceNo, user_no userNo, checkin_time checkInTime, checkout_time checkOutTime
		FROM attendance ORDER BY attendance_no
	</select>
	
	<insert id="attendanceInsert" parameterType="String">
		INSERT INTO attendance(attendance_no,user_no,checkin_time)
		SELECT seq_attendance_no.nextval, user_no userNo, sysdate
		FROM users_detail
		WHERE user_id = #{userId}
	</insert>
	
</mapper>