<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lms.lms.login.dao.mapper.LoginMapper">
	<resultMap id="loginMap" type="lms.lms.common.domain.User">
		<id property="userId" column="user_id" />
		<result property="userPw" column="user_pw" />
		<result property="email" column="email" />
	</resultMap>
	
	<select id="loginCheck" parameterType="lms.lms.common.domain.User" resultMap="loginMap">
		select user_id userId, user_pw userPw FROM users WHERE user_id=#{userId} and user_pw=#{userPw}
	</select>

</mapper>