<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lms.lms.userDetail.dao.mapper.UserDetailMapper">
	<resultMap  id="userDetailMap" type="lms.lms.common.domain.UserDetail">
		<result property="userNo" column="user_no"/>	
		<result property="userId" column="user_id"/>	
		<result property="userName" column="user_name"/>	
		<result property="userHomeNumber" column="user_home_number"/>	
		<result property="userPhone" column="user_phone"/>	
		<result property="userSchool" column="user_school"/>	
		<result property="userGrade" column="user_grade"/>	
		<result property="userAddress" column="user_address"/>	
		<result property="userParentPhone" column="user_parent_phone"/>	
	</resultMap>
	<select id="userDetailList" parameterType="lms.lms.common.domain.UserDetail" resultMap="userDetailMap">
		SELECT *
		FROM user_detail 
		ORDER BY user_name
	</select>
	<!-- 안드로이드에서 받은 전화번호로 유저정보받아오기 -->
	<select id="sendSMS" parameterType="map" resultMap="userDetailMap">
		SELECT *
		FROM user_detail
		WHERE user_phone LIKE CONCAT('%',#{userPhone})
		<!-- WHERE user_phone LIKE CONCAT('%',#{userPhone},'%') -->
	</select>
		<select id="userDetailView" parameterType="lms.lms.common.domain.UserDetail" resultMap="userDetailMap">
		SELECT *
		FROM user_detail
		WHERE user_no = #{userNo}
	</select>
		<select id="userDetailView2" parameterType="map" resultMap="userDetailMap">
		SELECT *
		FROM user_detail
		WHERE user_name LIKE CONCAT('%', #{userName},'%')
	</select>
	
	<insert id="userDetailInsert" parameterType="lms.lms.common.domain.UserDetail">	
		INSERT INTO user_detail(user_id , user_name, user_phone, user_school, user_grade, user_address, user_parent_phone)
		VALUES(#{userId}, #{userName}, #{userPhone}, #{userSchool}, #{userGrade},#{userAddress}, #{userParentPhone});
	</insert>
	
		
</mapper>