header {
	width: 1024px;
	height: 30px;
	margin: 0px 0px 70px 0px;
	padding: 10px;
	background-color: #D5D5D5;
}

header>h1 {
	text-align: left;
	text-shadow: 5px 5px 5px gray;
	font-size: 15px;
	letter-spacing: 3px;
}

header>h1>strong {
	position: absolute;
	font-size: 15px;
	text-shadow: 0px 0px 0px gray;
	letter-spacing:0px;
	left: 700px;
}

div {
	width: 1024px;
	height: 50px;
	margin: 0px 0px 0px -10px;
	padding: 10px;
	/* 	border: thin solid black; */
	position: absolute;
	top: 58px;
	background-color: #D5D5D5;
}

ul#list1 {
	list-style: none;
	width: 800px;
	height: 70px;
	position: absolute;
	right: 50px;
}

#list1>li {
	display: inline;
	padding: 10px 30px 10px 30px;
	background-color: #E8D9FF;
	margin-left: 5px;
	margin-right: -4px;
	text-align: center;
	border-radius: 10px 10px 0 0;
}

#li7:HOVER {
	background-color: #EAEAEA;
	box-shadow: 0px 5px 0px gray;
}

#li8:HOVER {
	background-color: #EAEAEA;
	box-shadow: 0px 5px 0px gray;
}

#li9:HOVER {
	background-color: #EAEAEA;
	box-shadow: 0px 5px 0px gray;
}

#li10:HOVER {
	background-color: #EAEAEA;
	box-shadow: 0px 5px 0px gray;
}

#li11:HOVER {
	background-color: #EAEAEA;
	box-shadow: 0px 5px 0px gray;
}

nav {
	width: 100px;
	height: 500px;
	margin: 0px;
	padding: 10px;
	background-color: #D9E5FF;
	display: table-cell;
}

nav>h1 {
	border: 2px solid black;
	font-size: 30px;
}

#menu {
	list-style: none;
	font-size: 20px;
	text-align: left;
	margin: 0px 0px 0px -10px;
	padding: 10px;
}

#menu>li:HOVER {
	background-color: #E8D9FF;
	transition: all 1s;
}

#li1 {
	border-top: solid;
}

#li2, #li3, #li4 {
	border: 2px;
	border-style: dotted none none none;
}

#li5 {
	border: 2px;
	border-style: dotted none dotted none;
}

#li6 {
	border-bottom: solid;
}

li>img {
	width: 120px;
	height: 110px;
}

section#content {
	width: 904px;
	height: 500px;
	margin: 0px;
	padding: 10px;
	background-color: #DAD9FF;
	display: table-cell;
}

#p1 {
	line-height: 200%;
}

#p2 {
	line-height: 150%;
}

footer {
	width: 1024px;
	height: 30px;
	margin: 0px;
	padding: 10px;
	background-color: #E8D9FF;
	text-align: center;
}
