
.seat_table{
	width: 700px;
	font-size: 10pt;
	text-align:center;
}
.seat_blink{
	width: 15px;
	height: 20px;
}
.border_top{
	width: 15px;
	height: 20px;
	border-top:solid black 1px;
	
}
.border_left{
	width: 15px;
	height: 20px;
	border-left:solid black 1px;
}
.border_right{
	width: 15px;
	height: 20px;
	border-right:solid black 1px;
}

.border_bottom{
	width: 15px;
	height: 20px;
	border-bottom:solid black 1px;
}
.seat_th{
	width: 60px;
}
.seat_th_blink{
	width:15px;
}

.gray {
	background-color: #aaaaaa;
	border:solid black 1px;
	width: 60px;
}

.pink {
	background-color: #FFD8D8;
	border:solid black 1px;
	width: 60px;

}

.blue {
	background-color: #B2CCFF;
	border:solid black 1px;
	width: 60px;
}


.deapblue {
	background-color: #6799FF;
	border:solid black 1px;
	width: 60px;
}

.red {
	background-color: #FAE0D4;
	border:solid black 1px;
	width: 60px;
	
}

.deapred {
	background-color: #FFC19E;
	border:solid black 1px;
	width: 60px;
}
.seat_td_div{
	font-size: 8pt;
}

.deapred:HOVER ,.red:HOVER, .blue:HOVER, .deapblue:HOVER, .pink:HOVER {
	background-color: red;
}
